.container{
  background-color: black;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
.mainDiv{
  margin-top: 30vh;
}
.champ{
  margin-left: 10px;
  display: inline-block;
  height: 232px;
  width: 150px;
  vertical-align: top;
  border: 5px solid;
  border-image-source: linear-gradient(to bottom, #800080,#ff00d4,black);
  border-image-slice: 1;

}

.pasta{
  color: whitesmoke;
  background-color: purple;
  margin-top: 20px;
  width: 150px;
  font-size: 1.2em;
}

.champ .champImg{
  height: 150px;
  width: 150px;

}
.spells{
  display: inline-block;
}
.spells .spellImg{
  height: 75px;
  width: 75px;
}
.SummonerFlash{
  background-image: url(src\assets\spells\SummonerFlashFade.png);
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  font-size: 2.05em;
  color: white;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 5px;
  padding-left: 6px;
}
.SummonerBarrier{
  background-image: url(src\assets\spells\SummonerBarrierFade.png);
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  font-size: 2.05em;
  color: white;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 5px;
  padding-left: 6px;
}
.SummonerDot{
  background-image: url(src\assets\spells\SummonerDotFade.png);
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  font-size: 2.05em;
  color: white;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 5px;
  padding-left: 6px;
}
.SummonerBoost{
  background-image: url(src\assets\spells\SummonerBoostFade.png);
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  font-size: 2.05em;
  color: white;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 5px;
  padding-left: 6px;
}
.SummonerExhaust{
  background-image: url(src\assets\spells\SummonerExhaustFade.png);
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  font-size: 2.05em;
  color: white;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 5px;
  padding-left: 6px;
}
.SummonerHaste{
  background-image: url(src\assets\spells\SummonerHasteFade.png);
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  font-size: 2.05em;
  color: white;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 5px;
  padding-left: 6px;
}
.SummonerHeal{
  background-image: url(src\assets\spells\SummonerHealFade.png);
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  font-size: 2.05em;
  color: white;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 5px;
  padding-left: 6px;
}
.SummonerMana{
  background-image: url(src\assets\spells\SummonerManaFade.png);
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  font-size: 2.05em;
  color: white;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 5px;
  padding-left: 6px;
}
.SummonerSmite{
  background-image: url(src\assets\spells\SummonerSmiteFade.png);
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  font-size: 2.05em;
  color: white;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 5px;
  padding-left: 6px;
}
.SummonerTeleport{
  background-image: url(src\assets\spells\SummonerTeleportFade.png);
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  font-size: 2.05em;
  color: white;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 5px;
  padding-left: 6px;
}
