<div class="container">
  <div class="mainDiv">
      <div *ngFor="let champ of champImgs; let i = index" id="champ{{i}}" class="champ">
        <img class="champImg" src="\assets\champion\{{champ}}">
            <div class="inline-spells">
              <div *ngIf="sumStatus[i+i] == 0; else elseBlock" class="spells">
                <a (click)="countVisibility($event)"><img id="{{i+i}}"  src="\assets\spells\{{spellsArray[i+i].img}}" class="spellImg"></a>
              </div>
              <ng-template #elseBlock class="block1">
                <p class="{{spellsArray[i+i].name}}">
                  <countdown #cd1 [config]="{leftTime: spellsArray[i+i].cd , format: 'm:ss'}" (event)="handleEvent($event, i+i)"></countdown>
                </p>
              </ng-template>

              <div *ngIf="sumStatus[i+i+1] == 0; else elseBlock1" class="spells">
                <a (click)="countVisibility($event)"><img id="{{i+i+1}}"  src="\assets\spells\{{spellsArray[i+i+1].img}}" class="spellImg"></a>
              </div>
              <ng-template #elseBlock1 class="block2">
                <p class="{{spellsArray[i+i+1].name}}">
                  <countdown #cd2 [config]="{leftTime: spellsArray[i+i+1].cd, format: 'm:ss'}" (event)="handleEvent($event,i+i+1)" ></countdown>
                </p>
              </ng-template>
            </div>
      </div>
  </div>
</div>
